version: '3.9'

services:
  db:
    image: postgres:14
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    env_file:
      - .env
    ports:
      - "${DB_PORT}:${DB_PORT}"

  web:
    build: .
    command: sh -c "python manage.py check_db_connection --retry 30 && python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/app:z
    ports:
      - "8080:8000"
    depends_on:
      - db
    env_file:
      - .env

volumes:
  postgres_data:
